Repository ramki11/Survey: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check-biome, backend-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-check-biome:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
      stage_fixed: true
    backend-check:
      root: "backend/"  
      glob: "*.py"
      run: |
        poetry run ruff check --select I --fix {staged_files}
        poetry run ruff format {staged_files}
      stage_fixed: true

Add get inquiry service test file
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
Due: backend-check

Add get inquiry service tests
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
Due: backend-check

Disable ruff lint for invalid type
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
Due: backend-check

Add skip and limit validation for get_inquiries service
  backend/app/services/inquiries.py
Due: backend-check

Use function scoped inquiry fixture for get_inquiry service test
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
Due: backend-check

Remove old inquiry API and service test files
  backend/app/tests/api/routes/test_inquiries.py
  backend/app/tests/services/test_inquiry.py
Due: backend-check

Add pytest fixture to clear db after each test module
  backend/app/tests/conftest.py
Due: backend-check

Add more get_inquiries api tests
  backend/app/api/routes/inquiries.py
  backend/app/tests/api/routes/inquiry/test_get_inquiries_api.py
Due: backend-check

Fix return type of clear_tables pytest fixture
  backend/app/tests/conftest.py
Due: backend-check

Add get_inquiry api test
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
Due: backend-check

edit inquiries implementation
  frontend/src/client/models.ts
  frontend/src/client/services/inquiriesService.ts
  frontend/src/components/Inquiries/InquiriesTable.tsx
Due: frontend-check-biome

Edit Functionality Complete
  backend/app/api/routes/inquiries.py
  backend/app/models/__init__.py
  backend/app/models/inquiry.py
  backend/app/services/inquiries.py
  frontend/src/client/services/inquiriesService.ts
Due: frontend-check-biome, backend-check

fixed typo
  backend/app/models/__init__.py
Due: backend-check

refactored edit inquiry
  backend/app/api/routes/inquiries.py
  frontend/src/client/models.ts
  frontend/src/components/Inquiries/EditInquiry.tsx
Due: frontend-check-biome, backend-check

updated import
  backend/app/models/inquiry.py
  backend/app/models/response.py
Due: backend-check

broken test
  backend/app/services/inquiries.py
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome, backend-check

fixed docker bugs
  backend/app/api/routes/inquiries.py
  backend/app/backend_pre_start.py
  backend/app/services/inquiries.py
  backend/app/services/session.py
Due: backend-check

[SR-49] feat(db): added data models and migration (#81)
  backend/app/alembic/versions/77f3f29a016b_create_response_scheduledinquiry_tables_.py
  backend/app/models/__init__.py
  backend/app/models/inquiry.py
  backend/app/models/response.py
  backend/app/models/scheduled_inquiry.py
  backend/app/models/user.py
Due: backend-check

edit inquiry fix
  backend/app/services/inquiries.py
Due: backend-check

resolving bugs
  backend/app/api/routes/inquiries.py
  backend/app/services/session.py
Due: backend-check

deleted get_session
  backend/app/services/session.py
Due: backend-check

combine AddInquiry and EditInquiry
  frontend/__tests__/inquiry/add_inquiry.test.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Inquiries/InquiryForm.tsx
  frontend/src/routes/_layout/inquiries.tsx
Due: frontend-check-biome

removed engine export
  backend/app/backend_pre_start.py
Due: backend-check

Inquiries Table fix
  frontend/src/components/Inquiries/InquiriesTable.tsx
Due: frontend-check-biome

[SR-63] feat(backend): add Theme api and service layers with tests (#82)
  backend/app/api/main.py
  backend/app/api/routes/themes.py
  backend/app/models/theme.py
  backend/app/services/themes.py
  backend/app/tests/api/routes/theme/test_get_themes_api.py
  backend/app/tests/api/routes/theme/test_post_theme_api.py
  backend/app/tests/services/theme/test_create_theme_service.py
  backend/app/tests/services/theme/test_get_theme_service.py
  backend/app/tests/utils/theme.py
Due: backend-check

Update parameter type to UUID
  backend/app/api/main.py
  backend/app/api/routes/scheduled_inquiries.py
  backend/app/models/__init__.py
  backend/app/models/scheduled_inquiry.py
  backend/app/services/scheduled_inquiries.py
Due: backend-check

refactored edit
  frontend/__tests__/inquiry/add_inquiry.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/client/models.ts
  frontend/src/components/Inquiries/AddOrEditInquiryModal.tsx
  frontend/src/routes/_layout/inquiries.tsx
Due: frontend-check-biome

Write test for service
  backend/app/tests/api/routes/scheduled_inquiry/test_post_scheduled_inquiry_api.py
Due: backend-check

Add ondelete CASCADES to relationship
  backend/app/alembic/versions/99c1c47b8606_add_ondelete_to_scheduled_inquiry.py
  backend/app/models/inquiry.py
  backend/app/models/scheduled_inquiry.py
Due: backend-check

Update test function names
  backend/app/tests/api/routes/scheduled_inquiry/test_post_scheduled_inquiry_api.py
Due: backend-check

Refactor post_theme util to be shared
  backend/app/tests/api/routes/theme/test_post_theme_api.py
  backend/app/tests/utils/test_post.py
Due: backend-check

API tests for creating scheduled inquiries
  backend/app/tests/api/routes/scheduled_inquiry/test_post_scheduled_inquiry_api.py
  backend/app/tests/api/routes/theme/test_post_theme_api.py
  backend/app/tests/utils/api_post.py
Due: backend-check

Add get all method to service
  backend/app/services/scheduled_inquiries.py
  backend/app/tests/services/scheduled_inquiries/test_create_scheduled_inquiry.py
Due: backend-check

Add route to get all scheduled inquiries
  backend/app/api/routes/scheduled_inquiries.py
Due: backend-check

Add test for api get_scheduled_inquiries operation
  backend/app/tests/api/routes/scheduled_inquiry/test_get_scheduled_inquiries_api.py
Due: backend-check
