Repository ramki11/Survey: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check-biome, backend-check

frontend-check-biome:
  run: npm run lint {staged_files}
  stage_fixed: true

backend-check:
  run: 'poetry run ruff check --select I --fix {staged_files}
  
    poetry run ruff format {staged_files}
  
    '
  stage_fixed: true

tested
  backend/app/api/routes/inquiries.py
  backend/app/models/__init__.py
  backend/app/models/inquiry.py
  backend/app/services/inquiries.py
Due: backend-check

[SR-63] feat(frontend): add Themes page and components (#110)
  frontend/__tests__/common/FormModal.test.tsx
  frontend/src/components/Common/FormModal.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Themes/AddTheme.tsx
  frontend/src/components/Themes/ThemesTable.columns.ts
  frontend/src/components/Themes/ThemesTable.tsx
  frontend/src/hooks/useThemes.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/themes.tsx
  frontend/src/utils/validation.ts
Due: frontend-check-biome

Create Simple modal and add button to column
  frontend/src/components/Common/SimpleModal.tsx
  frontend/src/components/Inquiries/InquiriesTable.tsx
Due: frontend-check-biome

Add tsx extension to col file
  frontend/src/components/Inquiries/InquiriesTable.columns.tsx
Due: frontend-check-biome

Rename file
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
Due: frontend-check-biome

AddScheduledInquiry and logic
  frontend/src/components/ScheduledInquiries/AddScheduledInquiry.tsx
Due: frontend-check-biome

Change action from Add to Create for clarity
  frontend/src/components/Common/Navbar.tsx
Due: frontend-check-biome

Revert name change. Do in another pr
  frontend/src/components/Common/Navbar.tsx
Due: frontend-check-biome

Add tests for SimpleModal
  frontend/__tests__/common/SimpleModal.test.tsx
Due: frontend-check-biome

Wrap component in QueryClient provider. Fixes failing tests
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome

Remove skip
  frontend/__tests__/common/SimpleModal.test.tsx
Due: frontend-check-biome

add return to make codacy happy
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome

Codacy complaining about shorthand arrow function void returns
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/components/Common/SimpleModal.tsx
  frontend/src/components/ScheduledInquiries/AddScheduledInquiry.tsx
Due: frontend-check-biome

adding content to FormModal
  frontend/package.json
  frontend/src/components/Common/FormModal.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/routes/_layout/inquiries.tsx
Due: frontend-check-biome

optional props
  frontend/src/components/Common/FormModal.tsx
Due: frontend-check-biome

simplifying
  frontend/src/components/Common/FormModal.tsx
Due: frontend-check-biome

content and fields parameters are preset to null values
  frontend/src/components/Common/FormModal.tsx
Due: frontend-check-biome

comment out
  frontend/src/components/Inquiries/AddInquiry.tsx
Due: frontend-check-biome

comment out
  frontend/src/routes/_layout/inquiries.tsx
Due: frontend-check-biome

SR-56 Add scheduled inquiries (frontend) (#111)
  frontend/__tests__/common/ContentModal.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/components/Common/ContentModal.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.tsx
  frontend/src/components/Inquiries/InquiriesTable.tsx
  frontend/src/components/ScheduledInquiries/AddScheduledInquiry.tsx
Due: frontend-check-biome

consolidating modals
  frontend/__tests__/common/ContentModal.test.tsx
  frontend/src/components/Common/ContentModal.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/ScheduledInquiries/AddScheduledInquiry.tsx
Due: frontend-check-biome

remove simple modal too
  frontend/__tests__/common/SimpleModal.test.tsx
  frontend/src/components/Common/SimpleModal.tsx
Due: frontend-check-biome

consolidating modals WIP (#127)
  frontend/__tests__/common/ContentModal.test.tsx
  frontend/package.json
  frontend/src/components/Common/ContentModal.tsx
  frontend/src/components/Common/FormModal.tsx
  frontend/src/components/ScheduledInquiries/AddScheduledInquiry.tsx
Due: frontend-check-biome

Adding an optional RDS connection via AWS Secrets Manager.
  .env.example
  .vscode/launch.json
  backend/app/core/config.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
Due: backend-check

revise vscode instructions (#133)
  .vscode/launch.json
  README.md
Due: none

Add git attributes to enforce LF line ending for shell scripts (#138)
  .gitattributes
Due: none

Create on-demand-workflow.yml
  .github/workflows/on-demand-workflow.yml
Due: none

Update on-demand-workflow.yml
  .github/workflows/on-demand-workflow.yml
Due: none

tag
  .github/workflows/on-demand-workflow.yml
Due: none

Create testbyramki-task-definition.json
  testbyramki-task-definition.json
Due: none

Update testbyramki-task-definition.json
  testbyramki-task-definition.json
Due: none

Create survey-task-definition
  survey-task-definition
Due: none

Delete testbyramki-task-definition.json
  testbyramki-task-definition.json
Due: none

Path conditions:
  frontend-check-biome: any of: *.{js,ts,jsx,tsx} and ^frontend/
  backend-check: any of: *.py and ^backend/
