Repository ramki11/Survey: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check-biome, backend-check

frontend-check-biome:
  run: npm run lint {staged_files}
  stage_fixed: true

backend-check:
  run: 'poetry run ruff check --select I --fix {staged_files}
  
    poetry run ruff format {staged_files}
  
    '
  stage_fixed: true

Use zod to validate ISO dateTime string
  frontend/src/utils/date.ts
  frontend/src/utils/validation.ts
Due: frontend-check-biome

Remove service calls. Post directly to db
  backend/app/tests/services/scheduled_inquiries/test_create_scheduled_inquiry.py
Due: backend-check

Remove Z offset indicator from sample input
  frontend/src/utils/date.ts
Due: frontend-check-biome

Fix codacy error
  frontend/src/utils/validation.ts
Due: frontend-check-biome

Remove print statement
  backend/app/services/scheduled_inquiries.py
Due: backend-check

Update imports
  frontend/__tests__/utils/formatISODateToUserTimezone.test.tsx
  frontend/src/components/Inquiries/InquiriesTable.tsx
Due: frontend-check-biome

Write to db directly instead of using service
  backend/app/tests/api/routes/scheduled_inquiry/test_get_scheduled_inquiries_api.py
Due: backend-check

Remove service calls
  backend/app/tests/api/routes/scheduled_inquiry/test_add_to_schedule_api.py
Due: backend-check

Add context to revision name
  backend/app/alembic/versions/6a5369b7e7a8_merge_heads.py
Due: backend-check

timer panel (#93)
  backend/app/alembic/versions/06210b2836d5_schedule.py
  backend/app/api/main.py
  backend/app/api/routes/schedule.py
  backend/app/models/__init__.py
  backend/app/models/schedule.py
  backend/app/services/schedule.py
  backend/app/tests/api/routes/inquiry/test_post_inquiry_api.py
  backend/app/tests/api/routes/schedule/__init__.py
  backend/app/tests/api/routes/schedule/test_convert_db_schedule_to_json.py
  backend/app/tests/api/routes/schedule/test_get_schedule_api.py
  backend/app/tests/api/routes/schedule/test_post_schedule_api.py
  backend/app/tests/conftest.py
  backend/app/tests/services/schedule/test_create_schedule_service.py
  backend/app/tests/services/schedule/test_get_schedule_service.py
  backend/app/tests/utils/json.py
  backend/app/tests/utils/schedule_utils.py
  frontend/__tests__/schedule/TimerPanel.test.tsx
  frontend/package.json
  frontend/src/client/models.ts
  frontend/src/client/services/scheduleService.ts
  frontend/src/components/Common/FormRow.tsx
  frontend/src/components/TimerPanel/TimerPanel.tsx
  frontend/src/hooks/useCreateSchedule.ts
  frontend/src/routes/_layout/inquiries.tsx
Due: frontend-check-biome, backend-check

Merge migration heads
  backend/app/alembic/versions/6a5369b7e7a8_.py
Due: backend-check

Remove all Items code from frontend and backend
  backend/app/alembic/versions/cc1d9e8b003c_remove_items_models.py
  backend/app/api/main.py
  backend/app/api/routes/items.py
  backend/app/api/routes/users.py
  backend/app/models/__init__.py
  backend/app/models/item.py
  backend/app/models/user.py
  backend/app/services/items.py
  backend/app/tests/api/routes/test_items.py
  backend/app/tests/utils/item.py
Due: backend-check

Removed Items code
  frontend/src/components/Common/ActionsMenu.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/routes/_layout/items.tsx
Due: frontend-check-biome

fixing any type to get past ci/cd
  frontend/src/routes/_layout/admin.tsx
Due: frontend-check-biome

Remove unused import
  backend/app/alembic/versions/cc1d9e8b003c_remove_items_models.py
Due: backend-check

generate-client (#107)
  backend/app/api/routes/schedule.py
  backend/app/models/__init__.py
  backend/app/models/schedule.py
  backend/app/tests/api/routes/schedule/test_convert_db_schedule_to_json.py
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/core/types.ts
  frontend/src/client/index.ts
  frontend/src/client/models.ts
  frontend/src/client/schemas.ts
  frontend/src/client/services.ts
  frontend/src/client/services/itemsService.ts
  frontend/src/client/services/loginService.ts
  frontend/src/client/services/scheduleService.ts
  frontend/src/client/services/usersService.ts
  frontend/src/client/services/utilsService.ts
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Inquiries/InquiriesTable.tsx
  frontend/src/components/Items/AddItem.tsx
  frontend/src/components/Items/EditItem.tsx
  frontend/src/components/TimerPanel/TimerPanel.tsx
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useCreateSchedule.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/routes/_layout/items.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
Due: frontend-check-biome, backend-check

Testing commit signature
  README.md
Due: none

fix backend schedule test names (#108)
  backend/app/tests/api/routes/schedule/test_post_schedule_api.py
Due: backend-check

refactor(frontend): table refactor
  frontend/__tests__/inquiry/inquiries_table.test.tsx.skip
  frontend/package.json
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/components/Inquiries/InquiriesTable.tsx
  frontend/src/hooks/useInquiries.ts
  frontend/src/routes/_layout/admin.tsx
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

codacy fixes
  frontend/eslint.config.js
Due: frontend-check-biome

codacy fixes
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
Due: frontend-check-biome

codacy fixes
  frontend/src/components/Common/Table.tsx
Due: frontend-check-biome

codacy fixes
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
Due: frontend-check-biome

codacy fixes
  .eslintrc.json
Due: none

codacy fixes
  frontend/package-lock.json
  frontend/src/components/Common/Table.tsx
Due: frontend-check-biome

table refactor, fix merge conflicts
  frontend/__tests__/common/DataTable.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/hooks/useInquiries.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

codacy fixes
  frontend/__tests__/common/DataTable.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome

codacy fixes
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome

refactor: Update utility function import paths (#109)
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useCreateSchedule.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
  frontend/src/utils/index.ts
Due: frontend-check-biome

Primary Keys as Integers Rather than UUIDs (#95)
  backend/app/alembic/versions/828527f72c54_rebuild_db_with_pk_int_not_uuid.py
  backend/app/api/routes/inquiries.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/themes.py
  backend/app/api/routes/users.py
  backend/app/models/inquiry.py
  backend/app/models/mixins.py
  backend/app/models/response.py
  backend/app/models/schedule.py
  backend/app/models/scheduled_inquiry.py
  backend/app/models/theme.py
  backend/app/models/user.py
  backend/app/services/inquiries.py
  backend/app/services/scheduled_inquiries.py
  backend/app/services/themes.py
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
  backend/app/tests/api/routes/scheduled_inquiry/test_add_to_schedule_api.py
  backend/app/tests/api/routes/test_users.py
  backend/app/tests/api/routes/theme/test_get_themes_api.py
  backend/app/tests/conftest.py
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
  backend/app/tests/services/scheduled_inquiries/test_create_scheduled_inquiry.py
  backend/app/tests/services/theme/test_get_theme_service.py
  backend/app/tests/utils/utils.py
  frontend/src/client/models.ts
  frontend/src/client/schemas.ts
  frontend/src/client/services.ts
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/SidebarItems.tsx
Due: frontend-check-biome, backend-check

duplicate function removal
  frontend/src/utils/validation.ts
Due: frontend-check-biome

codacy fixes
  frontend/__tests__/common/FormModal.test.tsx
  frontend/src/components/Common/FormModal.tsx
Due: frontend-check-biome

codacy fixes
  frontend/__tests__/common/FormModal.test.tsx
  frontend/src/components/Common/FormModal.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Themes/AddTheme.tsx
Due: frontend-check-biome

feat(frontend): add Themes page and component.
  frontend/__tests__/common/FormModal.test.tsx
  frontend/src/components/Common/FormModal.tsx
  frontend/src/components/Common/SidebarItems.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Themes/AddTheme.tsx
  frontend/src/components/Themes/ThemesTable.columns.ts
  frontend/src/components/Themes/ThemesTable.tsx
  frontend/src/hooks/useThemes.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/_layout/themes.tsx
  frontend/src/utils/validation.ts
Due: frontend-check-biome

testevalidation
  frontend/src/components/Common/FormModal.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Themes/AddTheme.tsx
Due: frontend-check-biome

Path conditions:
  frontend-check-biome: any of: *.{js,ts,jsx,tsx} and ^frontend/
  backend-check: any of: *.py and ^backend/
