Repository ramki11/Survey: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check-biome, backend-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-check-biome:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
      stage_fixed: true
    backend-check:
      root: "backend/"  
      glob: "*.py"
      run: |
        poetry run ruff check --select I --fix {staged_files}
        poetry run ruff format {staged_files}
      stage_fixed: true

codacy fixes
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
Due: frontend-check-biome

refactor(frontend): table refactor
  frontend/__tests__/inquiry/inquiries_table.test.tsx.skip
  frontend/package.json
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/components/Inquiries/InquiriesTable.tsx
  frontend/src/hooks/useInquiries.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

codacy fixes
  frontend/src/components/Common/Table.tsx
Due: frontend-check-biome

codacy fixes
  .eslintrc.json
Due: none

table refactor, fix merge conflicts
  frontend/__tests__/common/DataTable.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx.skip
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/hooks/useInquiries.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

codacy fixes
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome

codacy fixes
  frontend/eslint.config.js
Due: frontend-check-biome

codacy fixes
  frontend/__tests__/common/DataTable.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
Due: frontend-check-biome

fixing any type to get past ci/cd
  frontend/src/routes/_layout/admin.tsx
Due: frontend-check-biome

codacy fixes
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
Due: frontend-check-biome

refactor(frontend): table refactor
  frontend/__tests__/inquiry/inquiries_table.test.tsx.skip
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/hooks/useInquiries.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

table refactor, fix merge conflicts
  frontend/__tests__/common/DataTable.test.tsx
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/components/Common/Table.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/hooks/useInquiries.ts
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

refactor: Update utility function import paths (#109)
  frontend/src/components/Admin/AddUser.tsx
  frontend/src/components/Admin/EditUser.tsx
  frontend/src/components/Inquiries/AddInquiry.tsx
  frontend/src/components/Inquiries/InquiriesTable.columns.ts
  frontend/src/components/UserSettings/ChangePassword.tsx
  frontend/src/components/UserSettings/DeleteConfirmation.tsx
  frontend/src/components/UserSettings/UserInformation.tsx
  frontend/src/hooks/useCreateSchedule.ts
  frontend/src/routeTree.gen.ts
  frontend/src/routes/login.tsx
  frontend/src/routes/recover-password.tsx
  frontend/src/routes/reset-password.tsx
  frontend/src/routes/signup.tsx
  frontend/src/utils/index.ts
Due: frontend-check-biome

refactor(frontend): table refactor
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

table refactor, fix merge conflicts
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/src/utils/dateUtils.ts
Due: frontend-check-biome

Primary Keys as Integers Rather than UUIDs (#95)
  backend/app/alembic/versions/828527f72c54_rebuild_db_with_pk_int_not_uuid.py
  backend/app/api/routes/inquiries.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/themes.py
  backend/app/api/routes/users.py
  backend/app/models/inquiry.py
  backend/app/models/mixins.py
  backend/app/models/response.py
  backend/app/models/schedule.py
  backend/app/models/scheduled_inquiry.py
  backend/app/models/theme.py
  backend/app/models/user.py
  backend/app/services/inquiries.py
  backend/app/services/scheduled_inquiries.py
  backend/app/services/themes.py
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
  backend/app/tests/api/routes/scheduled_inquiry/test_add_to_schedule_api.py
  backend/app/tests/api/routes/test_users.py
  backend/app/tests/api/routes/theme/test_get_themes_api.py
  backend/app/tests/conftest.py
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
  backend/app/tests/services/scheduled_inquiries/test_create_scheduled_inquiry.py
  backend/app/tests/services/theme/test_get_theme_service.py
  backend/app/tests/utils/utils.py
  frontend/src/client/models.ts
  frontend/src/client/schemas.ts
  frontend/src/client/services.ts
  frontend/src/components/Common/DeleteAlert.tsx
  frontend/src/components/Common/SidebarItems.tsx
Due: frontend-check-biome, backend-check

Fixing the badly-formatted date issue
  frontend/src/components/Inquiries/InquiriesTable.tsx
  frontend/src/utils/date.ts
Due: frontend-check-biome

Refactor post_theme util to be shared
  backend/app/tests/api/routes/theme/test_post_theme_api.py
  backend/app/tests/utils/test_post.py
Due: backend-check

API tests for creating scheduled inquiries
  backend/app/tests/api/routes/scheduled_inquiry/test_post_scheduled_inquiry_api.py
  backend/app/tests/api/routes/theme/test_post_theme_api.py
  backend/app/tests/utils/api_post.py
Due: backend-check
