Repository ramki11/Survey: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-check-biome, backend-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-check-biome:
      root: "frontend/"
      glob: "*.{js,ts,jsx,tsx}"
      run: npm run lint {staged_files}
      stage_fixed: true
    backend-check:
      root: "backend/"  
      glob: "*.py"
      run: |
        poetry run ruff check --select I --fix {staged_files}
        poetry run ruff format {staged_files}
      stage_fixed: true

changing maxlen
  backend/app/alembic/versions/172eeb4bd7a6_change_maxlen_inquiry.py
  backend/app/models/inquiry.py
Due: backend-check

please be nice linter
  backend/app/tests/api/routes/inquiry/test_post_inquiry_api.py
Due: backend-check

rollback db if unique fails
  backend/app/tests/services/inquiry/test_create_inquiry_service.py
Due: backend-check

test: Add f/e unit tests for displaying inquiries table (#61)
  frontend/__tests__/inquiry/inquiries_table.test.tsx
  frontend/package.json
  frontend/src/client/models.ts
  frontend/src/components/Inquiries/InquiriesTable.tsx
  frontend/tsconfig.json
Due: frontend-check-biome

removed unnecessary dependencies
  frontend/package-lock.json
  frontend/package.json
Due: none

disabled eslint
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

change tsconfig
  frontend/tsconfig.json
Due: none

troubleshooting error
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

disabled eslint on file
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

excluded vite config in tsconfig
  frontend/tsconfig.json
Due: none

refactored users and inquiries
  backend/app/api/routes/inquiries.py
  backend/app/models/inquiry.py
  backend/app/services/inquiries.py
  backend/app/services/users.py
Due: backend-check

eslint disabled
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

added codacy ignore
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

removed line
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

added it back
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

added codacy yaml
  frontend/.codacy.yaml
Due: none

troubleshooting
  frontend/.codacy.yaml
  frontend/__tests__/example.test.ts
Due: frontend-check-biome

edit functionality
  backend/app/api/routes/inquiries.py
  backend/app/main.py
  frontend/src/components/Inquiries/EditInquiry.tsx
Due: frontend-check-biome, backend-check

Specify error message for invalid inquiry id type for get_inquiry test
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
Due: backend-check

Add some inquiries service tests
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
  backend/app/tests/services/inquiry/test_get_inquiries_service.py
Due: backend-check

Remove unused import
  backend/app/tests/api/routes/inquiry/test_get_inquiries_api.py
Due: backend-check

Remove unnecessary imports
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
Due: backend-check

Disable ruff lint for invalid type
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
Due: backend-check

Remove get_inquiry_by_id service id validation and param type tests
  backend/app/services/inquiries.py
  backend/app/tests/services/inquiry/test_get_inquiry_service.py
Due: backend-check

Add id validation for get inquiry service
  backend/app/services/inquiries.py
Due: backend-check

Add skip and limit validation for get_inquiries API
  backend/app/api/routes/inquiries.py
Due: backend-check

Clear tables after each test function
  backend/app/tests/conftest.py
Due: backend-check

Add get inquiry api test file
  backend/app/tests/api/routes/inquiry/test_get_inquiry_api.py
Due: backend-check

Add more inquiries service tests
  backend/app/tests/services/inquiry/test_get_inquiries_service.py
Due: backend-check
